*{
	font-family: cursive;
}
body{
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
@media (max-width:1000px) {

	  *{
	  	font-size: 10px;
	  }
      .border-left
      {
        border:0px solid !important;
        }

      }
